.form {
    display: inline-block;
    width: 100%;
}
    .form > .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }
        .form > .form-row > label {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            color: #999;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
        }
        .form > .form-row > input {
            display: inline-block;
            width: 100%;
            padding: 10px 0;
            font-size: 18px;
            line-height: 20px;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
        }
        .form > .form-row:last-of-type {
            margin-bottom: 0;
        }

        .form span,
        .form a {
            display: inline-block;
            padding: 10px;
            float: left;
            font-size: 17px;
            line-height: 20px;
        }
        .form span {
            margin-left: 10px;
        }
        .form a {
            color: #005DD8;
            text-decoration: none;
            font-weight: bold;
        }