body {
    background-color: rgb(81, 178, 198);
    background-color: #51B2C6;

}
.background {
    height: 100vh;
    background-image: url(../img/mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
}

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .container > .left {
        display: inline-block;
        width: 40%;
        float: left;
        background-color: #027BBD;

        position: absolute;
        top: 30px;
        bottom: 30px;
        left: 0;
    }
        .left > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .main-title {
            position: relative;
            z-index: 1;
            padding: 20px;
            color: white;
            font-weight: normal;
        }
        .footer {
            position: absolute;
            left: 20px;
            bottom: 20px;
            right: 20px;
            color: wheat;
        }
            .footer > a {
                text-decoration: none;
                color: white;
            }
            .footer > a:hover {
                text-decoration: underline;
                color: white;
            }

            .footer > span {
                color: white;
            }

    
    .container > .right {
        display: inline-block;
        width: 60%;
        padding: 80px;
        float: right;
        background-color: #fff;
        position: relative;
    }
        .right a:hover {
            text-decoration: underline;
        }

        .close {
            display: inline-block;
            width: 80px;
            height: 80px;

            position: absolute;
            top: 0;
            right: 0;
        }

        .close:hover .line{
            background-color: red;
        }
            .close > .line {
                display: inline-block;
                width: 40px;
                height: 2px;
                background-color: #888;
                position: absolute;
            }
            .close > .line:first-of-type {
                transform: rotate(45deg);
                top: 24px;
                left: 28px;
                transform-origin: top left;
            }
            .close > .line:last-of-type {
                transform: rotate(-45deg);
                transform-origin: bottom left;
                top: 52px;
                left: 28px;
            }